<a href="https://colab.research.google.com/github/kookeej/AI-study/blob/main/Library/pandas01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas
===
*이 내용은 [위키독스](https://wikidocs.net/)의 [금융 데이터 분석을 위한 파이썬 Pandas](https://wikidocs.net/book/3488)으로 데이터 시각화하기를 보며 직접 실습하며 필기한 내용입니다.*

## 목차

# 1. 헷갈리는 파이썬 문법 복습
## 1.1. 클래스
파이썬의 ```클래스```는 **타입을 만들 때 사용하는 키워드**이다. 파이썬의 기본 데이터 타입인 int, float, str과 데이터 저장에 사용되는 리스트, 튜플, 딕셔너리 등이 모두 클래스로 이루어진 타입이다.

In [1]:
# 직접 타입을 확인해보면 클래스라는 것을 확인 할 수 있다.
a = 3
b = 'hihello'

print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

파이썬 클래스는 데이터와 데이터를 처리하는 함수를 하나의 공간에 정의한 것이다. 이 클래스 안에 정의된 함수를 ```메소드```라고 한다. 
* 메소드: 클래스 안에 정의된 함수
* 클래스: 데이터 + 함수 -> 새로운 타입    

'붕어빵틀'이라는 클래스를 만들어본다. 기능을 적지 않고 그냥 ```pass```라고만 적어주면 문법 에러는 나지 않는다.

In [2]:
class 붕어빵틀:
    pass    # 기능은 나중에 구현할 것!

이제 우리는 이 클래스가 어떤 행동을 할 것인지 고민해볼 필요가 있다. 붕어빵을 넣을 때 앙꼬를 넣기 때문에 '앙꼬넣기'라는 함수를 추가해본다.

In [3]:
class 붕어빵틀:
    def 앙꼬넣기(self, 앙꼬):
        self.앙꼬 = 앙꼬

여기서 사용되는 ```self```는 메소드의 첫 번째 인자로 관례적으로 들어간다. 우리는 붕어빵틀을 정의했기 때문에 이제 붕어빵을 만들 수 있다.

In [4]:
붕어빵1 = 붕어빵틀()           # 붕어빵틀 타입의 객체를 하나 만들고 이를 붕어빵1이라는 변수에 바인딩 한다.
붕어빵2 = 붕어빵틀()           # 붕어빵틀 타입의 객체를 하나 만들고 이를 붕어빵2라는 변수에 바인딩 한다.

메모리의 상태는 아래 그림과 같이 된다.    
![](https://wikidocs.net/images/page/45601/03.png)    

1개의 클래스 객체와 2개의 인스턴스가 생성된다. 클래스 객체 내에는 앙꼬넣기라는 메소드가 존재하고 인스턴스 2개에는 아무 값도 존재하지 않는다. 앙꼬넣기라는 메소드를 호출하여 인스턴스 안에 "무언가"를 만들어보도록 한다.

In [5]:
붕어빵틀.앙꼬넣기(붕어빵1, "초코맛")
붕어빵틀.앙꼬넣기(붕어빵2, "딸기맛")

![](https://wikidocs.net/images/page/45601/04.png)    

* 위 코드를 수행하면 메소드 호출 시 전달된 "앙꼬"가 인스턴스에 저장된다. 파이썬에서는 객체에 데이터가 **딕셔너리**로 저장된다. 딕셔너리의 'key'에 변수 이름, 'value'에 값이 저장된다.    
* 함수 호출의 마지막 단계는 '리턴'이다. 함수가 리턴되면 코드의 실행 흐름이 함수 호출부로 이동된다. 동시에 함수의 return 키워드가 리턴하는 값이 같이 함수 호출부로 전달된다. 하지만 우리가 만든 클래스 '붕어빵틀'은 return이라는 키워드가 없기 때문에 파이썬은 알아서 None값을 반환한다. 함수가 반환되면 함수 내에서 생성된 모든 변수가 소멸한다.    
* 클래스를 사용하는 객체 지향 프로그래밍에서도 객체가 생성될 때, 초기화를 할 수 있다. 이런 역할을 하는 메소드를 우리는 특별히 **생성자**라고 한다. 생성자는 객체가 생성될 때 자동으로 호출되는 메소드다.

In [6]:
class 붕어빵틀:
    def __init__(self):
        print("붕어빵 구워짐")

붕어빵 = 붕어빵틀()

붕어빵 구워짐

```__init__(self)```
는 붕어빵 클래스로부터 객체가 생성될 때 자동으로 호출되는 메소드다. 아니나 다를까 '붕어빵'이라는 인스턴스를 생성하자 '붕어빵 구워짐'이 출력되는 것을 확인할 수 있다. 이와 같이 **객체가 생성된 직후 자동으로 파이썬 인터프리터에 의해 호출되는 메소드를 생성자라고 한다.**

In [7]:
class 붕어빵틀:
    # self, 앙꼬 두 가지 인자를 입력받는다. 
    def __init__(self, 앙꼬):
        self.앙꼬 = 앙꼬

붕어빵1 = 붕어빵틀("초코맛")
붕어빵2 = 붕어빵틀("딸기맛")

위 코드가 수행되면 아래 그림과 같이 생성된 인스턴스에 '초코맛'과 '딸기맛'이라는 두 가지 앙꼬가 저장된다.    

![](https://wikidocs.net/images/page/45601/08.png)

In [8]:
붕어빵3 = 붕어빵틀()

TypeError: ignored

인자로 어떤 값도 젅달하지 않으면 에러가 발생한다.

In [9]:
print(붕어빵1.앙꼬)
print(붕어빵2.앙꼬)

초코맛
딸기맛

객체에 값이 있으면 ```객체.값```을 통해 해당 값에 접근할 수 있다. 우리는 붕어빵 객체에 '앙꼬'라는 값을 저장해 뒀으므로 저장된 값을 출력할 수 있다. ```붕어빵1.앙꼬```라는 표현은 붕어빵1이 바인딩하는 객체로 간 후, '앙꼬'라는 키가 딕셔너리에 존재하는지 확인한다. 딕셔너리에 '앙꼬'라는 키가 있고 이에 대응하는 value인 '초코맛'이 존재하므로 이를 반환한다.

***
다음으로는 주식 종목을 관리하기 위한 클래스를 정의해볼 것이다.

In [10]:
class StockItem:
    # 생성자
    def __init__(self, code, name, market):
        self.code = code
        self.name = name
        self.market = market

    def get_name(self):
        return self.name
    
    def get_code(self):
        return self.code
    
    def get_market(self):
        return self.market

여기에는 1개의 생성자와 3개의 메소드가 존재한다.

In [11]:
a = StockItem("000020", "동화약품", "코스피")
b = StockItem("000040", "KR모터스", "코스피")

print(a.get_name())
print(b.get_market())

동화약품
코스피

위 코드가 실행되면 메모리는 아래 그림과 같이 구성된다.    

![](https://wikidocs.net/images/page/45601/09.png)    

* 클래스 객체에는 보통 데이터를 저장하지 않고 클래스의 인스턴스들이 공통으로 사용하는 함수인 **메소드**를 포함하고 있다.
* 반면에 인스턴스 또는 객체에서는 주로 고유 데이터가 저장된다. 인스턴스/객체에는 메소드가 없고 오직 데이터만 존재한다.

이번에는 앞에서 보았던 클래스와는 조금 다른 모습의 클래스다. 앞에서는 변수 이름 앞에 ```self```가 붙어있었지만 이번에는 self가 붙어있지 않다.

In [12]:
class MyClass:
    data = 3

아주 가끔 모든 객체에서 참조해야만 하는 데이터가 있는데 이를 저장하는 용도로 주로 사용된다. 하지만 대부분은 앞에서 배웠던 내용들에서 처럼, self.data와 같은 표현을 통해 self가 가리키는 특정 인스턴스 공간에 데이터를 저장하는 것이 일반적이다.

In [13]:
a = MyClass()
b = MyClass()
print(a.data)
print(b.data)

3
3

클래스에 있는 변수나 메소드를 ```attribute```라고 한다. 클래스에서 점(.)을 찍으면 해당 클래스에 있는 attribute를 참조한다는 뜻이다.

In [14]:
class MyClass:
    data = 3

a = MyClass()
b = MyClass()
a.data = 5

print(a.data)
print(b.data)

5
3

***

# 2. 예외처리
아래 코드를 실행하면 파이썬 인터프리터가 에러를 출력한다.

In [15]:
a = 4
b = 0
c = a / b
print(c)

ZeroDivisionError: ignored

이렇게 의도치 않은 부분에서 발생하는 에러를 처리하는 것을 **예외 처리**라고 한다. 안정적으로 동작하는 프로그램을 만들기 위해서는 예외처리를 하는 것이 중요하다.    
예외처리를 하는 방법으로는 단순히 예외가 발생할 만한 부분의 코드를 ```try ~except```구문을 통해서 처리하는 것이다. 먼저 시도(try)를 해보고 예외가 발생하면 except절에 있는 코드가 실행된다. 여기서 중요한 점은 **에러를 해결하는 것이 아니라 단지 예외를 처리해줌으로써 파이썬 인터프리터가 해당 라인에서 죽지 않고 다른 코드를 계속해서 실행할 수 있도록 해주는 것이다.** 아래 코드를 실행해보면 코드가 끝까지 수행되는 것을 확인할 수 있다.

In [16]:
a = 4
b = 0

try:
    c = a / b
except:
    print("0으로 나눌 수 없습니다.")

print("finish!")

0으로 나눌 수 없습니다.
finish!

# 3. Numpy
넘파이는 행렬 연산에 특화된 파이썬 라이브러리다.

In [18]:
# 1번
data = [1, 2, 3]
new_data = []

for x in data:
    new_data.append(x*10)

print(new_data)

# 2번
new_data = data * 10
print(new_data)

[10, 20, 30]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

굳이 1번 방법이 아니라 2번 방식을 사용하여 행렬 연산을 수행할 수 있다면 정말 간편할 것이다. 하지만 실제로는 우리가 원하는 리스트가 제대로 나오지 않는다. 하지만 파이썬의 리스트 대신에 numpy의 array를 사용하면 우리가 원하는 방식으로 구현할 수 있다.

In [19]:
import numpy as np

data = [1, 2, 3]
arr = np.array(data)
data2 = arr*10
print(data2)

[10 20 30]

영업일 5일간의 고가와 저가의 차이를 계산하고 싶다. 만약 파이썬의 리스트로 계산을 한다면 for문을 사용하여 고가와 저가를 일일히 빼주어야 한다. 하지만 numpy의 array를 사용한다면 아주 간단하게 계산할 수 있다.

In [20]:
# python의 list
high = [92700, 92400, 92100, 94300, 92300]
low = [90000, 91100, 91700, 92100, 90900]

# numpy의 array로 변환해준다.
arr_high = np.array(high)
arr_low = np.array(low)

arr_diff = arr_high - arr_low
print(arr_diff)

[2700 1300  400 2200 1400]

***

# 2. Pandas Series
파이썬에는 리스트, 튜플, 딕셔너리라는 기본 자료구조가 있다. 리스트와 튜플은 둘 다 순서가 있는 자료구조다. 그 중 리스트는 수정가능하고, 튜플은 수정 불가능하다. 딕셔너리는 데이터에 레이블을 붙여서 저장하고자 할 때 사용한다. 레이블을 key, 데이터를 value라고 한다.    

Pandas는 크게 ```Series```와 ```DataFrame```이라는 자료구조를 제공한다. 시리즈는 일차원 구조의 데이터를 저장할 때 사용되고, 이차원 구조의 데이터를 저장할 때 사용되는 것은 데이터프레임이다. 즉, 데이터프레임은 "표"로 된 데이터 형식이다. 일차원 구조의 데이터는 표에서 한 행, 또는 한 열을 의미한다.

## 2.1. Series 생성
Series는 파이썬이 제공하는 기본 자료구조가 아니라 Pandas library가 제공하는 자료구조다. 따라서 먼저 pandas를 import 해주어야 한다.

In [21]:
from pandas import Series

Series 객체 생성 방법이다. 데이터를 파이썬 리스트 형식으로 표현한 후, 해당 리스트를 Series의 인자로 넘겨준다.

In [22]:
data = [1, 2, 3]
s = Series(data)
print(s)

0    1
1    2
2    3
dtype: int64

특이한 형태로 출력된다. Pandas의 Series는 일차원 데이터 구조를 효과적으로 다루기 위해 0부터 시작하는 정수 index가 자동으로 할당된다. 따라서 출력 형태를 보고 2차원이라고 착각해서는 안된다.    

하지만 파이썬의 리스트와 같은 성질인 것처럼 보인다. 그럼에도 불구하고 우리가 굳이 Series를 사용하는 이유는 앞에서 배웠던 numpy의 array와 같이 ```브로드캐스팅```과 같은 편리한 기능을 사용할 수 있기 때문이다. 따라서 1차원 데이터에 연산을 한 번에 적용할 수 있다.

In [24]:
print(s)
print(s*10)

0    1
1    2
2    3
dtype: int64
0    10
1    20
2    30
dtype: int64

딕셔너리를 사용하여 데이터에 레이블을 붙여서 저장했던 것처럼 시리즈도 각 데이터에 인덱스를 설정할 수 있다.

In [25]:
data = [1000, 2000, 3000]
index = ["메로나", "구구콘", "배스킨라빈스"]

s = Series(data=data, index=index)
print(s)

메로나       1000
구구콘       2000
배스킨라빈스    3000
dtype: int64

이렇게 인덱스가 숫자 대신에 레이블로 설정된 것을 확인할 수 있다. 하지만 그렇다고 숫자 인덱스가 문자열 인덱스로 대체된 것이 아니다. 번호와 문자열 인덱스를 모두 사용할 수 있다.

In [27]:
print(s[0])
print(s["메로나"])

1000
1000

아래의 삼성전자의 5일 종가 데이터를 시리즈 객체로 표현해보자. 인덱스는 문자열로 표현된 날짜를 사용한다.    

![](https://wikidocs.net/images/page/45643/01.png)

In [28]:
from pandas import Series

close = [42500, 42550, 41800, 42550, 42650]
date = ["2019-05-31", "2019-05-30", "2019-05-29", "2019-05-28", "2019-05-27"]

s = Series(data=close, index=date)
print(s)

2019-05-31    42500
2019-05-30    42550
2019-05-29    41800
2019-05-28    42550
2019-05-27    42650
dtype: int64

딕셔너리 객체에서 keys()와 values()를 사용하여 레이블과 값을 확인하는 것처럼 Series에서도 ```index```와 ```values```라는 속성을 통해 인덱스와 값을 각각 얻어올 수 있다.

In [29]:
s.index

Index(['2019-05-31', '2019-05-30', '2019-05-29', '2019-05-28', '2019-05-27'], dtype='object')

In [30]:
s.values

array([42500, 42550, 41800, 42550, 42650])

## 2.2. Series 인덱싱
```인덱싱```이란, 자료구조에서 어떤 값에 접근하는 것을 뜻한다. 시리즈 객체는 행 번호와 인덱스를 사용하므로 두 가지 방법을 사용하여 인덱싱할 수 있다. 파이썬 리스트처럼 저웃 값으로 인덱싱할 수도 있고, 파이썬 딕셔너리처럼 key값으로 인덱싱할 수도 있다.   

시리즈 객체의 인덱싱은 아래를 사용하여 수행할 수 있다.
* ```iloc```: Series의 행 번호를 사용하여 인덱싱할 때 사용
* ```loc```: 인덱스를 사용할 때 사용
* ```[]```: 행 번호, 인덱스 둘 다 사용 가능

In [41]:
from pandas import Series

data = [1000, 2000, 3000]
index = ["메로나", "구구콘", "하겐다즈"]
s = Series(data=data, index=index)

In [45]:
print(s.iloc[0])           # 1000
print(s.loc["메로나"])      # 1000
print(s.loc[0])             # error!
print(s[0])                 # 1000
print(s["메로나"])          # 1000

1000
1000
1000
1000

위 코드를 통해 알 수 있듯이, loc은 인덱스가 아니면 인덱싱을 수행할 수 없다.

여기서 중요한 차이점이 하나 있다. ```iloc```의 경우 ```iloc[0:2]```일 경우, 0, 1인덱스만 가져오고 2인덱스는 가져오지 않는다. 반면에 ```loc["메로나":"구구콘"]```의 경우, 끝 인덱스까지 포함하여 가져오는 것을 확인할 수 있다.

In [47]:
print(s.iloc[0:2])
print(s.loc["메로나":"구구콘"])

메로나    1000
구구콘    2000
dtype: int64
메로나    1000
구구콘    2000
dtype: int64

추가로 연속적이지 않은 값들에 대해서도 슬라이싱할 수 있다.

In [48]:
print(s.iloc[ [0, 2] ])
print(s.loc[ ["메로나", "하겐다즈"] ])

메로나     1000
하겐다즈    3000
dtype: int64
메로나     1000
하겐다즈    3000
dtype: int64

## 2.3. Series 수정/추가/삭제
>### 2.3.1. 수정
Series의 수정은 간단하다. loc, iloc, []로 특정 위치로 접근하여 변경할 값을 넣어주면 된다.

In [50]:
from pandas import Series

data = [1000, 2000, 3000]
index = ["메로나", "구구콘", "하겐다즈"]
s = Series(data=data, index=index)

s.loc['메로나'] = 500
print(s)

s.iloc[0] = 300
print(s)

s['메로나'] = 1500
print(s)

메로나      500
구구콘     2000
하겐다즈    3000
dtype: int64
메로나      300
구구콘     2000
하겐다즈    3000
dtype: int64
메로나     1500
구구콘     2000
하겐다즈    3000
dtype: int64

모두 정상적으로 수정되는 것을 확인할 수 있다.    

>### 2.3.2. 추가
Series에 값을 추가하려면 ```loc``` 속성을 사용하여 인덱스와 함께 값을 넣어주면 된다. '수정'과 같은 방식인 것 같지만, 시리즈의 인덱스에 해당하는 값이 있으면 수정되고 없으면 추가된다.

In [54]:
s.loc['비비빅'] = 500
print(s)

메로나     1500
구구콘     2000
하겐다즈    3000
비비빅      500
dtype: int64

>### 2.3.3. 삭제
Series에서 값을 삭제하려면 ```drop```메소드를 사용한다. 메소드의 인자로 인덱스를 넣어주면 해당 인덱스의 값이 삭제된다. 이 drop 메소드에는 Series의 인덱스를 사용해야 한다. 행 번호를 넘겨주면 에러가 발생한다.     
또한, 이 drop 메소드는 시리즈의 데이터를 제거하지 않고 제거된 새로운 시리즈 객체를 반환한다. 이는 실수로 원본 데이터를 수정해버리는 것을 방지하기 위한 일종의 안전장치이다.

In [56]:
print(s.drop('메로나'))
print(s)

구구콘     2000
하겐다즈    3000
비비빅      500
dtype: int64
메로나     1500
구구콘     2000
하겐다즈    3000
비비빅      500
dtype: int64

위 결과에서 볼 수 있듯이 s를 출력했더니 메로나는 삭제되지 않고 그대로 남아있음을 확인할 수 있다.

## 2.4. Series 연산
Series는 **같은 인덱스**를 갖는 모든 데이터에 연산을 적용한다. 아래 예시 코드를 살펴보자.

In [57]:
from pandas import Series

# 아래는 보유하고 있는 주식이다. data와 index에 파이썬의 리스트를 직접 넣어주었다.
mine = Series([10, 20, 30], index=['NAVER', 'SKT', 'KT'])
wife = Series([10, 30, 20], index=['SKT', 'KT', 'NAVER'])
total = mine + wife

print(total)

KT       60
NAVER    30
SKT      30
dtype: int64

위 코드의 결과를 살펴보면 데이터의 위치에 상관없이 같은 인덱스를 갖는 종목끼리 덧셈이 수행된 것을 확인할 수 있다.

In [58]:
data1 = Series([10, 20, 30], index=['NAVER', 'SKT', 'KT'])
data2 = data1 * 10
print(data2)

NAVER    100
SKT      200
KT       300
dtype: int64

파이썬의 리스트처럼 for문을 사용할 필요없이 직관적으로 우리가 원하는 작업을 수행할 수 있다.    

이번에는 삼성전자의 5일 일봉 데이터에서 고가와 저가가 있을 때 각 거래일의 변동폭을 계산해본다. 여기서 변동폭이란 '고가와 저가의 차분값'이다.

In [59]:
high = Series([42800, 42700, 42100, 42950, 43000])
low = Series([42150, 42150, 41300, 42150, 42350])

diff = high - low
print(diff)

0    650
1    550
2    800
3    800
4    650
dtype: int64

여기서 변동폭이 가장 큰 값을 찾아본다. Series가 제공하는 ```max()```를 사용하면 손쉽게 구할 수 있다. python이 제공하는  max()도 있지만 시리즈 객체를 사용할 때는 시리즈와 호환성이 좋은 시리즈 max()를 사용한다.

In [62]:
print(diff.max())       # Series
print(max(diff))        # python

800
800

# 2.5. Series 필터링
Series 객체에 대한 비교연산을 적용해본다. 간단한 예를 통하여 비교 연산을 익혀본다. 여기서는 특히 ```불리언 색인 기능```이 매우 유용하다.

In [63]:
from pandas import Series

data = [42500, 42550, 41800, 42550, 42650]
index = ['2019-05-31', '2019-05-30', '2019-05-29', '2019-05-28', '2019-05-27']
s = Series(data=data, index=index)
cond = s > 42000
print(cond)

2019-05-31     True
2019-05-30     True
2019-05-29    False
2019-05-28     True
2019-05-27     True
dtype: bool

cond 변수가 바인딩하는 값을 출력해보면 Series 객체의 각 값이 42000보다 큰 경우 True, 그렇지 않은 경우 False가 저장된 것을 확인할 수 있다. 비교 연산의 결과값 역시 모든 데이터에 대해 적용되며 bool값이 시리즈 타입으로 표현된다.    
이를 이용하여 색인하는 것을 ```불리언 색인```이라고 한다. 이는 Series 객체에서 매우 유용한 기능 중 하나이다. 삼성전자의 종가가 42000원 이상인 거래일만 출력해야 하는 경우를 생각해보자. 이 경우 시리즈의 대괄호 연산자에 True 또는 False가 저장된 시리즈 객체를 넘겨주면 된다.

In [64]:
from pandas import Series

data = [42500, 42550, 41800, 42550, 42650]
index = ['2019-05-31', '2019-05-30', '2019-05-29', '2019-05-28', '2019-05-27']
s = Series(data=data, index=index)

cond = s > 42000        # s > 42000인 것
print(s[cond])          # 불리언 색인 기능

2019-05-31    42500
2019-05-30    42550
2019-05-28    42550
2019-05-27    42650
dtype: int64

불리언 색인 기능을 위와 같이 작동한다. **True인 경우에만 값을 가져오고 False인 경우에는 값을 가져오지 않는다.**    

이번에는 시가와 종가를 시리즈 객체로 표현한 후 종가가 시가보다 큰지를 비교해보자.

In [65]:
close = [42500, 42550, 41800, 42550, 42650]
open = [42600, 42200, 41850, 42550, 42500]
index = ['2019-05-31', '2019-05-30', '2019-05-29', '2019-05-28', '2019-05-27']
open = Series(data=open, index=index)
close = Series(data=close, index=index)
cond = close > open
print(cond)

2019-05-31    False
2019-05-30     True
2019-05-29    False
2019-05-28    False
2019-05-27     True
dtype: bool

거래일별로 비교 연산의 결과가 Series로 저장되어 있다. 출력값이 True일 경우가 종가가 시가보다 높았던 날이다. 그렇다면 종가가 시가보다 높았던 날의 종가를 출력해보자. 불리언 색인 기능을 사용하면 된다.

In [66]:
print(close[cond])

2019-05-30    42550
2019-05-27    42650
dtype: int64

다음으로는 종가가 시가보다 높은 거래일에 변동폭을 출력해본다. 변동폭은 '종가-시가'이다. 역시 불리언 색인 기능을 사용하면 쉽게 원하는 결과를 얻을 수 있다.

In [67]:
diff = close - open
cond = close > open
print(diff[cond])

2019-05-30    350
2019-05-27    150
dtype: int64

## 2.6. 정렬 및 순위
Series 객체의 정렬을 알아본다. 아래 코드에서 data 기준으로 오름차순 정렬을 해보자.

In [68]:
from pandas import Series

data = [3.1, 2.0, 10.1, 5.1]
index = ['000010', '000020', '000030', '000040']
s = Series(data=data, index=index)
print(s)

000010     3.1
000020     2.0
000030    10.1
000040     5.1
dtype: float64

In [69]:
# 정렬 오름차순
s1 = s.sort_values()
print(s1)

000020     2.0
000010     3.1
000040     5.1
000030    10.1
dtype: float64

In [70]:
# 정렬 내림차순
s2 = s.sort_values(ascending=False)
print(s2)

000030    10.1
000040     5.1
000010     3.1
000020     2.0
dtype: float64

Series 객체는 ```sort_values()```라는 자체 정렬 메소드를 가진다. 따라서 정렬하고 싶은 시리즈 객체에서 sort_values()를 호출해주기만 하면 데이터를 기준으로 오름차순 정렬된다. 만약 내림차순 정렬을 원한다면 ```sort_values(ascending=False)```를 해준다.

이번에는 시리즈 객체의 데이터 값을 기준으로 순위를 매겨보자. data값이 낮은 순으로 순위를 매기고 싶다. 앞에서 배운 정렬과 달리 **데이터의 위치는 그대로 유지한 채 순위만 매겨보고 싶다는 것이다.**    

```rank()``` 메소드는 Series 객체가 제공하는 순위를 매기기 위한 메소드다. rank()는 **값이 작은** 데이터를 1순위로 지정한다.

In [71]:
print(s.rank())
# 결과를 살펴보면 data의 값이 가장 작은 '000020'의 순위값이 1임을 알 수 있다.

000010    2.0
000020    1.0
000030    4.0
000040    3.0
dtype: float64

In [72]:
# 만약 큰 데이터에 대해 1등으로 순위를 매기려면 아래와 같이 호출한다.
print(s.rank(ascending=False))

000010    3.0
000020    4.0
000030    1.0
000040    2.0
dtype: float64

# 2.7. 엑셀 파일로 저장하기
Series 객체로 표현된 데이터는 엑셀로 저장하려면 ```to_excel``` 메소드를 사용하면 된다. 이때 to_excel의 인자로 저장할 파일 이름을 문자열로 넘겨주면 된다. 디렉토리 경로를 지정하지 않으면 소스코드와 같은 디렉토리에 엑셀 파일이 생성된다.

In [73]:
from pandas import Series
data = [1000, 2000, 3000]
index = ["메로나", "구구콘", "하겐다즈"]
s = Series(data=data, index=index)

s.to_excel("data.xlsx")

![](https://wikidocs.net/images/page/45650/01.png)

## 2.8. Series 인덱스 수정
이번에는 Series 객체의 인덱스를 수정해보자.

In [77]:
from pandas import Series

data = [3.1, 2.0, 10.1, 5.1]
index = ['000010', '000020', '000030', '000040']
s = Series(data=data, index=index)

인덱스는 종목코드다. 국내 주식의 종목코드는 6자리 문자열로 구성된다. 주식 데이터를 여러 사이트로부터 가져오다보면 어떤 종목코드 앞에 알파벳 'A'를 붙여서 사용하는 경우가 있다. 이런 경우를 대비하여 앞서 만든 시리즈 객체의 인덱스에 'A'를 추가해준다.

In [78]:
s.index = 'A' + s.index
print(s)

A000010     3.1
A000020     2.0
A000030    10.1
A000040     5.1
dtype: float64

문자열 연산을 다루는 것처럼 처리해준 후 다시 인덱스에 대입해주면 된다.

***

여기까지 파이썬의 기본 문법(클래스, 인스턴스, 예외처리)와 Pandas의 Series까지 살펴보았다. 다음 pandas02.ipynb에서는 DataFrame과 시계열 데이터를 다뤄본다.